<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Roy Profile</title>
	<link rel="stylesheet" href="../CSS/reset.css">
	<link rel="stylesheet" href="../CSS/main.css" />
</head>
<body>
	<div class="navbar">
		<div class="nav el-center logo gradient">
			Green Flyer
		</div>
		<div class="nav el-center nav-hide">
			<ul>
				<li><a href="./Index.html">展覽資訊</a></li>
				<li><a href="#">熱門商品</a></li>
				<li><a href="./Products.html">商品列表</a></li>
				<li><a href="#">進駐廠商</a></li>
				<li><a href="#">購物筆記</a></li>
				<li><a href="#">會員登入</a></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="map w-1-2">
			<img src="../Images/map-big.jpg" alt="找不到圖片">
			<!-- <div class="map-img"></div> -->
		</div>
		<div class="content w-1-2">
			<div class="info el-center mb-s">
				<div class="triangle"></div>
				<div class="title pd-m">
					2012春季電腦展
				</div>
				<div>2012-04-17 ~ 2012-04-21</div>
				<div>展覽時間 : 10:00:00 ~ 18:00:00</div>
				<div>台北世貿一館(台北市信義路5段5號)</div>
			</div>
			<div class="announce">
				<div class="announce-content pd-m b-grey-white radius mb-s btn-block">
					<span class="announce-tag b-blue">公告</span>
					<span class="announce-tag b-red">最新</span>
					2012春季電腦展 超越想像的享樂新體驗！上半年度最具規模消費性電腦展－春季電腦展，今年將完整呈現最新穎酷炫的應用科技，帶領您親身體驗全新智慧生活的享樂全貌。超越想像的進化新生活，您絕對不能錯過！
				</div>
				<div class="announce-content pd-m b-grey-white radius mb-s btn-block">
					<span class="announce-tag b-green">促銷</span>
					2012春季電腦展 超越想像的享樂新體驗！上半年度最具規模消費性電腦展－春季電腦展，今年將完整呈現最新穎酷炫的應用科技，帶領您親身體驗全新智慧生活的享樂全貌。超越想像的進化新生活，您絕對不能錯過！
				</div>
				<div class="announce-content pd-m b-grey-white radius mb-s btn-block">
					<span class="announce-tag b-blue">促銷</span>
					2012春季電腦展 超越想像的享樂新體驗！上半年度最具規模消費性電腦展－春季電腦展，今年將完整呈現最新穎酷炫的應用科技，帶領您親身體驗全新智慧生活的享樂全貌。超越想像的進化新生活，您絕對不能錯過！
				</div>
			</div>
		</div>
	</div>
	
</body>


</html>