<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Roy Profile</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC:500,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../CSS/reset.css" >
	<link rel="stylesheet" href="../CSS/main.css" >
	<link rel="stylesheet" href="../CSS/profile.css" >
	<link rel="shortcut icon" href="../Images/icon.ico">
</head>
<body>
		<div class=" name-section h-1 ">
			<div class=" parallax-back h-1 back-1"></div>
			<div class="left-section">
				<div class="pic-section">
					<div class="pic-wrap ">
						<img src="../Images/U1320100568.jpg" alt="找不到圖片">
					</div> 
				</div>
			</div>
			<div class="right-section">
				<div class="container">
					<div class="title">賴佳駿</div><div class="title english">Roy</div>
					<div class="subtitle">網頁工程師</div>
				</div>
			</div>
		</div>
		<div class="middle-section">
			<div class="left-section el-center">
				

				<div class="caption mb-s">SKILLS</div>
				<div class="subtitle mb-s font2">Programming</div>
				<div class="mb-m clearfix">
					<ul class=" w-1-2 program-left">
						<li class="item">C#</li>
						<li class="item">C++</li>
						<li class="item">Matlab</li>
						<li class="item">PHP</li>
						<li class="item">HTML5</li>
						<li class="item">Javascript</li>
						<li class="item">Vue.js</li>
						<li class="item">JQuery</li>
						<li class="item">CSS</li>
						<li class="item">Android</li>
						<li class="item">MSSQL</li>
						<li class="item">MySQL</li>
						<li class="item">Bootstrap</li>
					</ul>
					<ul class="w-1-2 program-right">
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div class="dot-half"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div class="dot-half"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div class="dot-half"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
						<li class="item"><div class="dot"></div><div class="dot"></div><div class="dot"></div></li>
					</ul>
				</div>
				
				<div class="subtitle mb-s font2">Version Control</div>
				<ul class="mb-m">
					<li class="item">SourceTree</li>
				</ul>
				<div class="subtitle mb-s font2">Graphic Tools</div>
				<ul class="mb-m">
					<li class="item">Photoshop</li>
					<li class="item">Illustator</li>
				</ul>
				<div class="caption mb-s ">CONTACT</div>
				<ul class="mb-m">
					<li class="item">0988 878929</li>
					<li class="item">roy200230034004@gmail.com</li>
				</ul>
				<div class="contact mb-l">
					<a href="https://s3-ap-northeast-1.amazonaws.com/yourator/users/resumes/000/052/474/original/2660cd5cb47ade795f862b92aad55d2e7b74fa7d.pdf?1555848560" class="btn font2">下載pdf版履歷</a>
				</div>
				
			</div>
			<div class="right-section">
				<div class="container">
					<div class="caption mb-s">EXPERIENCE</div>
					<div class="title mb-m">卓越動力, 專案工程師</div><div class="time">Feb 2018 ~ Now</div>
					<div class="subtitle font2 mb-s font-letter-space">共通性資料檢核系統</div>
					<ul class="content font2 mb-l font-letter-space">
						<li>主要擔任此專案的前端及後端工程師等工作</li>
						<li>使用RESTful API 架構開發大部分功能</li>
						<li>針對客戶客製化上百條語法，檢查不同面向的資料</li>
						<li>講授撰寫條件語法的課程</li>
					</ul>
					<div class="title mb-m">國立暨南大學資訊工程碩士</div><div class="time">Sep 2014 ~ Aug 2016</div>
					<div class="subtitle font2 mb-s font-letter-space">美洲豹演算法結合自適應初始步伐 解方程式最佳化問題</div>
					<ul class="content font2 mb-l font-letter-space">
						<li>結合知名演化計算的優點(基因、粒子群優…)，</li>
						<li>以C++實作在方程式數學模型的實驗，</li>
						<li>設計出快速且效果較好的演算法，</li>
						<li>收錄於2015年IEEE SMC國際會議</li>
					</ul>
					<div class="title mb-m">國立暨南大學資訊工程學士</div><div class="time">Sep 2010 ~ Jun 2014</div>
					<div class="subtitle font2 mb-s font-letter-space">電子傳單GreenFlyer </div>
					<ul class="content font2 mb-l font-letter-space">
						<li>開發於Android作業系統製作手機應用程式，</li>
						<li>搭配網頁端服務，讓使用者可以在不同平台使用，</li>
						<li>在此專題負責手機端程式、資料庫設計、及需求流程設計，</li>
						<li>另外也擔任美術、及籌備競賽事項(影片、報告)，</li>
						<li>獲得校內外各大競賽的多項佳績</li>
					</ul>
				</div>

			</div>
		</div>
		<div class="intro-section">
			<div class=" parallax-back h-1 back-2"></div>
			<div class="left-section flexbox h-1 ">
				<div class="block el-center-v">
					<div class="caption">INTRODUCTION</div> 
				</div>
			</div>
			<div class="right-section">
				<div class="container flexbox h-1">
					<div class="block el-center-v">
						<div class="content font2 font-letter-space description">踏入資訊領域後，接觸了手機程式、網頁設計、繪圖美工、演化計算，
						除了專業知識外，每個階段都讓我學到不同的事情，最讓我深刻體悟是團隊合作，
						專案成員間溝通及良好的搭配，才能讓專案更有效率的完成。
						在有限的時間內，每個人利用自己的專長各司其職，才能讓作品完整的呈現。
						開發專案的期間，學習了網頁工程的許多環節，也開啟了我對網頁程式的興趣，
						閒暇之餘也樂於學習科技新知。</div>
					</div> 
				</div>
			</div>
		</div>
		<div class="bottom-section">
			<div class="left-section flexbox h-3">
				<div class="block  block-s el-center">
					<div class="caption">PROJECT</div> 
				</div>
				<div class="block el-center">
					<img src="../Images/project1.jpg" alt="找不到圖片">
					<img src="../Images/project1.jpg" class="reflect" >
				</div>
				<div class="block el-center">
					<img src="../Images/project2.jpg" alt="找不到圖片">
					<img src="../Images/project2.jpg"  class="reflect" >
				</div>
				<div class="block el-center">
					<img src="../Images/project3.png" alt="找不到圖片">
					<img src="../Images/project3.png"  class="reflect" >
				</div>
			</div>
			<div class="right-section">
				<div class="container flexbox h-3">
					<div class="block block-s">
						<div class="caption" style="visibility: hidden">PROJECT</div>
					</div>
					<div class="block">
						<div class="title mb-m">共通性資料檢核系統</div>
						<div class="subtitle mb-s font-letter-space">HTML, CSS, Vue.js, jQuery, ASP.NET MVC, MSSQL</div>
						<div class="content font2 mb-l font-letter-space description">可隨心所欲的定義上傳檔案的格式
							打造大量偵錯語法，自由選擇於檢核資料的正確面向
							系統會員分成多種層級，各大功能分成多種操作權限
							擴充資料管理功能，使用者可將資料彈性化的處理(如併檔、分檔)
							處理資料的過程通用且彈性，流程中可回復上階段資料，或是多次循環檢查更正
						</div>
					</div>
					<div class="block">
						<div class="title mb-m">美洲豹演算法結合自適應初始步伐
							解方程式最佳化問題</div>
						<div class="subtitle mb-s font-letter-space">C++</div>
						<div class="content font2 mb-l font-letter-space">美洲豹演算法是演化計算，也就是人工智慧演算法的其中之一，
							可以使用此類演算法來找出許多最佳化問題的最佳解答，包含許多NP-complete問題(例如旅行銷售員問題)，甚至到現實中很多工程最佳化問題，而美洲豹演算法就是經由集結各大知名演算法的優點，提升找到解答的品質和效率，作在基礎的方程式問題呈現美洲豹演算法的結果，並且優於各大知名演算法得到不錯的結果。

							<a href="https://ieeexplore.ieee.org/document/7379414" target="_blank"><span class="tag">收錄於國際會議SMC</span></a>
						</div>
					</div>
					<div class="block">
						<div class="title mb-m">電子傳單 GreenFlyer</div>
						<div class="subtitle mb-s font-letter-space">HTML,CSS, PHP, JAVA(Android), MySQL</div>
						<div class="content font2 mb-l font-letter-space">系統是針對現代展場中的許多不方便而且浪費的缺點，利用手持裝置加以改善，
							消費者不必在大量的傳單和資訊中手忙腳亂，廠商也可以快速更新資訊，
							節省成本回饋消費者，這項軟體在國內外的比賽獲得不錯的肯定。
							
							<!-- <a href="http://163.22.20.166/greendb/web/nhome.html" target="_blank"><span class="tag">原始版</span></a> -->
							<a href="../View/greenflyer.html" target="_blank"><span class="tag">重刻版未完成</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
<script src="../Scripts/profile.js"></script>
</html>