<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Roy Profile</title>
	<link rel="stylesheet" href="../CSS/reset.css">
	<link rel="stylesheet" href="../CSS/main.css" />
	<link rel="stylesheet" href="../CSS/greenflyer.css" />
</head>
<body>
	<div class="navbar">
		<div class="nav el-center logo gradient">
			Green Flyer
		</div>
		<div class="nav el-center nav-hide">
			<ul>
				<li><a href="./greenflyer.html">展覽資訊</a></li>
				<li><a href="#">熱門商品</a></li>
				<li><a href="./product.html">商品列表</a></li>
				<li><a href="#">進駐廠商</a></li>
				<li><a href="#">購物筆記</a></li>
				<li><a href="#">會員登入</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="category w-1-3 b-red el-center">
			<div class="search">
				<input type="text">
				<button type="button " > <div class="search-i">&#9906</div></button>
			</div>
			<div class="category-name">產品分類</div>
			<ul>
				<li class="category-item">筆電</li>
				<li class="category-item">平板</li>
				<li class="category-item">手機</li>
				<li class="category-item">螢幕</li>
				<li class="category-item">攝影機</li>
				<li class="category-item">相機</li>
				<li class="category-item">桌上型主機</li>
				<li class="category-item">遊戲主機</li>
				<li class="category-item">智慧手錶</li>
				<li class="category-item">VR眼鏡</li>
				<li class="category-item">列表機</li>
			</ul>
		</div>
		<div class="content w-2-3 b-green">
			<!-- <div class="wrapper"></div> -->
				<div class="sale pd-l">
					<div class="item gallary">
						<a href="#"><img src="../Images/sale.jpg" alt=""></a>
						<div class="desc">
							21.5 吋 iMac 1.6GHz 雙核心 Intel Core i5 (整修品)
						</div>
					</div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
				</div>

			
			<div class="pager">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="product">
				
			</div>
		</div>
	</div>
</body>
</html>